/*
  Base
*/

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: #666;
  line-height: 1.75rem;
}

h1{
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead-title a {
  font-size: 25px;
  color: #333;
}

.masthead-subtitle {
  color: #999;
}

@media (max-width: 48em) {
  .masthead-title small {
    display: block;
  }
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
}

/*
  Menu
*/

.menu-content {
  position: absolute;
  top: -70px;
  transition: top 0.5s;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.menu-button:hover .menu-content{
  display: block;
  top: 70px;
  transition-timing-function: ease-in-out;
}

@media (max-width: 48em) {
  .menu-content {
    top: -90px;
  }
  .menu-button:hover .menu-content{
    display: block;
    top: 90px;
    transition-timing-function: ease-in-out;
  }
}
