
<hr>

<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->
No comments?

SOOOOO


  <hr>

{% if site.repository and site.staticman.branch %}
something
{% endif %}
<div class="comments__existing js-comments" {% if comments == null %}aria-hidden="true"{% endif %}>
      <h2 class="comments__heading heading-2">Comments</h2>

      {% for comment in comments %}
        <article id="comment{{ forloop.index }}" class="js-comment comment">
          <div class="comment__avatar-wrapper">
            <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ comment.email }}?d=mm&s=100">
          </div>
          <div class="comment__content-wrapper">
            <h3 class="comment__author">{{ comment.name }}</h3>
            <p class="comment__date">
              <a href="#comment{{ forloop.index }}">
                {{ comment.date | fullDate }}
              </a>
            </p>
            <div class="comment__body">
              {{ comment.message | markdownify }}
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

  

<!-- Comment form -->
<p>
  <h3>Post a comment:</h3>
  <form method="POST" action="https://staticmanlagr.herokuapp.com/v3/entry/github/samarulmeu/mylagrange/gh-pages/comments">
  <input name="options[redirect]" type="hidden" value="https://samarulmeu.github.io/mylagrange/">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <div>
      <legend>Name</legend>
      <input name="fields[name]" type="text">
    </div>
    <div>
      <legend>E-mail (optional)</legend>
      <input name="fields[email]" type="email">
    </div>
    <div>
      <legend>Website (optional)</legend>
      <input name="fields[url]" type="url">
    </div>
    <div>
      <legend>Message (<a href="https://kramdown.gettalong.org/syntax.html">Markdown</a> allowed)</legend>
      <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
    </div> 
    <div>
      <legend><em>Comments will appear after moderation.</em></legend>
      <button type="submit">Submit Comment</button>
    </div>
</form>
    
 
</p>
