


<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->
<!--
No comments?

{{ site.repository }}

<br>

{% if site.staticman.branch %}
staticman branch:
{% endif %}
{{ site.staticman.branch}}
<br>



{% if page.slug %}
page.slug:
{% endif %}

{{ page.slug }}
<br>


SITE_DATA_COMMENTS

<br>



<h5>end comments</h5>


<h2> COMMENTS ORIGINAL </h2>

-->
{% if site.data.comments[page.slug] %}




  {% assign comments = site.data.comments[page.slug] | sort %}



  <p>
    {% for comment in comments %}
     {% assign email = comment[1].email %}
     {% assign name = comment[1].name %}
     {% assign url = comment[1].url %}
     {% assign date = comment[1].date %}
     {% assign comment = comment[1].comment %}

 <img src="https://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=60" alt="{{ comment[1].name }}">


      <legend><strong>{{ comment[1].name }}</strong></legend>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>

   {{ comment[1].comment | markdownify }}

    {% endfor %}
  </p>
<hr>
{% endif %}






<!-- Comment form -->
<p>
  <h3>Post a comment:</h3>
  <form method="POST" action="https://staticmanlagr.herokuapp.com/v3/entry/github/samarulmeu/mylagrange/gh-pages/comments">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">
    <input type="hidden" name="options[parent]" value="parentOrigin">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
     <input type="hidden" name="fields[reply_to]" value="">
      <div>
      <legend>Name (required)</legend>
      <input name="fields[name]" type="text" required>
    </div>
    <div>
      <legend>E-mail (required)</legend>
      <input name="fields[email]" type="email" required>
    </div>
    <div>
      <legend>Website (optional)</legend>
      <input name="fields[website]" type="url">
    </div>
    <div>
      <legend>Message (<a href="https://kramdown.gettalong.org/syntax.html">Markdown</a> allowed)</legend>
      <textarea style="width:100%" name="fields[comment]" rows="12" required></textarea>
    </div>
    <fieldset>
            <label for="comment-form-reply">
              <input type="hidden" id="comment-form-reply" name="options[subscribe]" value="email">
              Notify me of replies by email.
            </label>
    <div>
		<legend><em>Comments will appear after moderation.</em></legend>
		<button type="submit">Submit Comment</button>
    </fieldset>
    </div>
</form>


</p>
