<header class="masthead">
  <h3 class="masthead-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    <small class="masthead-subtitle">{{ site.description }}</small>
    {% include menu.html %}
  </h3>
  
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.og_title }}" />
<meta property="og:description" content="{{ page.og_description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.og_image }}" />
<meta property="og:type"  content="{{ page.og_type }}" />
<meta property="og:locale"  content="en_US" />
</header>
