<div class="menu">
  <div class="menu-content">
    <a href="{{ site.github.url }}/about.html">About</a>
    <a href="{{ site.github.url }}/writing.html">Writing</a>
    <a href="{{ site.github.url }}/contacts.html">Contact</a>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    <a href="https://instagram.com/{{ site.author.instagram }}"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  </div>
</div>
