/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}
