---
---

$sans-serif-font-family: "Quattrocento Sans", sans-serif;
$serif-font-family:      "PT Serif", Georgia, "Times New Roman", serif;
$code-font-family:       "Source Code Pro", monospace;

$dark-gray-color:  #333;
$light-gray-color: #999;
$body-color:       #515151;

$icon-transition-time: .5s;
$envelope-color:  #f39c12;
$twitter-color:   #00aced;
$instagram-color: #375989;
$github-color:    #343434;
$linkedin-color:  #0073a4;
$facebook-color:  #3d5b99;
$pinterest-color: #bd081c;
$medium-color:    #00AB6C;
$codepen-color:   black;
$rss-color:       #ff6600;

@import "-sections-dir";
