---
layout: default
---

{% for post in site.iryna.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <h2 class="post-date">
      Written by
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.author }}
      {% endif %}
    </h2>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
