---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image.feature %}
  <img src="{{ site.github.url }}/images/{{ page.image.feature }}">
{% endif %}

{{ content }}

<span class="post-date">
  Written on
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by {{ site.author.name }}
</span>
{% include social-sharing.html %}
{% include related-posts.html %}

{% if site.disqus %}
  {% include disqus.html %}
{% endif %}